body {
  display: block;
  background: linear-gradient(90deg, rgba(227,103,42,0.60) 37%, rgba(6,170,72,0.60) 57%);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #000;
}

.tips {
  list-style: auto;
  list-style-position: inside;
  list-style-type: decimal;
}

.tip {
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;

  font-size: 1.1rem;
  font-weight: 500;
  background-color: rgb(249, 222, 178);
}

.controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

input[type="text"] {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
